*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color: whitesmoke;
   
}
header .header .header-box {
    display: flex;
    justify-content: space-between;
    top: 0;
    margin-top: 0;
}
header .header .header-box .social-media{
    margin-right: 7px;
}
header .header .header-box .social-media a i{
 color: rgb(108, 104, 104); 
 padding-right:5px ;
 font-size: 17px;  
 padding-left: 4px; 
 padding-left: 10px;
 padding-top: 5px;
}
header .header .header-box .social-media a i:hover{
    color: rgb(0, 73, 182);
}
header .header .header-box .short-contct{
    display: flex;
    justify-content: center;
}
header .header .header-box .short-contct ul{
    display: flex;
    list-style: none;
    font-size: 11px;
}
header .header .header-box .short-contct ul li a{
    padding-right: 14px;
    text-decoration: none;
    color: rgb(123, 119, 119);
    font-size: 15px;

}
header .header .header-box .short-contct ul li a:hover{
    color: rgb(0, 38, 255);
}
header .header .main-header{
    background-color: rgba(235, 235, 235, 0.387);
   text-align: center;
   display: flex;
   width: 100%;
   position: sticky;

}

header .header .main-header .header-logo a img{
    width: 100px;
    padding-top: 10px;
    line-height: 40px;
}
header .header .main-header .navbar{
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
header .header .main-header .navbar ul{
    display: flex;
    background-color: rgba(239, 236, 236, 0.174);
    list-style: none;
    font-size: 12px;
}
header .header .main-header .navbar ul li{
    padding-right: 40px;
    margin-top: 20px;
    font-size: 14px;
}
header .header .main-header .navbar ul li a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
header .header .main-header .navbar ul li a:hover{
    color: black;
}
header .header .main-header .aponment{
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px;
}
header .header .main-header .aponment button{
    background-color: rgb(0, 151, 251);
    outline: none;
    border: 1px solid rgb(2, 123, 244);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    margin-left: 100px;
    font-size: 15px;
    transition:all 0.5s ease-out ;
}
header .header .main-header .aponment button:hover{

    background-color: white;
    color: rgb(0, 38, 255);
}
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    width: 100%;
}

.introimg {
    width: 100%;
    background-image: url('xbanner2.png.pagespeed.ic.B9cM6-Ibkd.webp');
    background-position: right;
    background-size: cover;
    height: 550px;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 100px;
}

.introimg h1, .introimg h3, .introimg p {
    text-align: left; 
    color: rgb(0, 0, 0); 
    width:100%;
}
.intro .introimg h1{
    padding: 10px;
    font-size: 80px;
    color: rgb(74, 73, 73);
}
.intro .introimg h2{
    font-size:60px ;
    color: rgb(89, 93, 89);
    font-weight: 100;
    font-family:cursive;
    padding-bottom: 30px;
}
.intro .introimg p{
    font-size: 16px;
    text-transform: capitalize;
}
.intro .introimg button{
    padding: 15px;
    margin: 25px;
    background-color: rgb(2, 178, 248);
    outline: none;
    border: 1px solid rgb(4, 134, 186);
    border-radius: 10px;
    box-shadow: 1px 1px 2px;
    color: honeydew;
    font-size: 20px;
}
.intro .introimg button:hover{
    background-color: white;
    color: rgb(0, 98, 255);
}
.service-area{
    width: 100%;
    background-color: rgb(23, 124, 247);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
}
.service-area .service-container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    color: white;
    gap: 100px;
}
.service-area .service-container .monitor-logo{
    font-size: 25px;
        color: aliceblue;

}
.service-area .service-container .emergency-logo{
    font-size: 25px;
    color: aliceblue;

}
.service-area .service-container .madibox-logo{
    font-size: 25px;
    color: aliceblue;
}

.service-area .service-container .single-service2{
    border-left: 2px solid;
    border-right: 2px solid;
    padding: 0 55px;
}
.service-area .service-container a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin-bottom: 30px;
    padding: 7px;
    border-radius: 10px;

}
.service-area .service-container a:hover{
    background-color: white;
    border: 2px solid rgb(76, 102, 252);
    color: rgb(0, 94, 255);
}
.wellcome-area{
    margin-left: 100px;
    margin-top: 50px;
}
.wellcome-area .wellcome-container{
    display: flex;
    gap: 200px;
}
.wellcome-area .wellcome-container .wellcome-thamble{
    display: flex;
}
.wellcome-area .wellcome-container .wellcome-thamble .thamble1 img{
    height: 400px;
    position: block;
    border-radius: 10px;
}
.wellcome-area .wellcome-container .wellcome-thamble .thamble2 img{
    height: 400px;
    position: absolute;
    border-radius: 10px;
    margin-top: 100px;
    left:230px;
}
.wellcome-area .wellcome-container .wellcome-text h2{
    
    font-weight: 400;
    color: rgba(26, 25, 25, 0.612);
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(10, 170, 244);

}
.wellcome-area .wellcome-container .wellcome-text h1{
    font-weight: 700;
    padding-bottom:20px ;
    color: rgb(42, 43, 44);

}
.wellcome-area .wellcome-container .wellcome-text p{
    color: rgb(128, 127, 127);
}
.wellcome-area .wellcome-container .wellcome-text ul{
    list-style: none;
}
.wellcome-area .wellcome-container .wellcome-text ul li{
    padding: 5px;
    color: rgb(118, 118, 119);
}
.wellcome-area .wellcome-container .wellcome-text ul i{
    padding-right: 20px;
}
.wellcome-area .wellcome-container .wellcome-text button{
    padding: 10px 18px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
   outline: none;
   border: 1px solid rgb(3, 100, 197);
   border-radius: 5px; 
   color: rgb(0, 128, 255);
   font-weight: bold;
}
.wellcome-area .wellcome-container .wellcome-text button:hover{
    background-color: rgb(0, 94, 255);
    color: white;
    border: 1px rgb(2, 42, 122) solid;
}
.our-department-area{
    background-color: rgba(213, 212, 212, 0.685);
    height: 1000px;
    width: 95%;
    margin-left:25px;
    text-align: center;
    justify-content: center;
}
.our-department-area .department-container .department-text{
    height: 150px;
    width: 100%;
    background-color: rgba(253, 244, 231, 0.502);
}
.our-department-area .department-container .department-text h2{
    margin-bottom: 10px;
    padding-bottom: 2px;
    color: rgba(0, 0, 0, 0.679);
    display: inline-block;
    font-family:'Times New Roman', Times, serif;
    border-bottom: 2px solid rgb(6, 146, 206);
}
.our-department-area .department-container .department-text p{
    font-family: poppins;
    font-size: 20px;
    line-height: 30px;
    color: rgb(133, 131, 131);
}
.our-department-area .department-container .all-care{
    text-align: stre;
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 20px;
}
.our-department-area .department-container .all-care .single-department{
   height: auto;
   width: 350px;
   justify-content: center;
   padding-bottom: 20px;
   background-color: rgb(208, 210, 210);
   box-sizing: border-box;
   padding-top: 10px;
   border-radius: 10px;
   box-shadow: 1px 1px 6px ,-1px -1px 5px;
   cursor: pointer;
}
.our-department-area .department-container .all-care .single-department .single-pic img{
    height: 200px;
    width: 300px;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}
.our-department-area .department-container .all-care .single-department .single-pic img:hover{
    transform:scale(1.1) ;
}
.our-department-area .department-container .all-care .single-department .single-text h2{
    color: rgba(0, 0, 0, 0.607);
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
    cursor: pointer;
}
.our-department-area .department-container .all-care .single-department .single-text h2:hover{
 text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.745);
 transition: .2s ease-in;
 display: inline-block;
 color: rgba(0, 0, 0, 0.696);
 border:1px solid rgb(10, 10, 10) ;
 border-radius: 10px;
}
.our-department-area .department-container .all-care .single-department .single-text p{
    font-size: 19px;
    padding-bottom: 10px;
    font-family: monospace;
    color: rgb(62, 62, 62);

}
.our-department-area .department-container .all-care .single-department .single-text h3{
    font-style: oblique;
    color: rgb(0, 38, 255);
    text-decoration: line-through;
    background-color: rgba(148, 148, 148, 0.556);
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}
.our-department-area .department-container .all-care .single-department .single-text h3:hover{
    text-decoration: underline;
}
.active{
    width: 100%;

}
.active .active-container{
    background-image: url(x2.png.pagespeed.ic.WZmdpsJ_nD.webp);
    background-repeat: no-repeat;
    height: 500px;
    width: 95%;
    margin-left:27px;
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 10px;
}
.active  .active-container .active-logo{
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 10px;

}
.active  .active-container p{
    background-color: rgba(240, 248, 255, 0.318);
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(106, 106, 106);
    border: 1px solid rgba(1, 121, 240, 0.919);
    border-radius: 10px;
}
.active  .active-container h4{
    font-size: 15px;
    margin: 15px;
    margin-top: 60px;
    font-weight:bolder;
    color: rgb(0, 102, 255);
}
.quality{
    width: 100%;
    background-color: rgb(237, 236, 235); 
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgb(155, 153, 153);
    margin-bottom: 100px;
}
.quality .quality-head{
    width: 100%;
    justify-content: space-around;
    display: flex;
    padding: 25px;
    background-color: rgb(222, 234, 234);
    cursor: pointer;
}
.quality .quality-head h3:hover{
    color: black;
}
.quality .quality-head h3{
    font-size: 25px;
    font-weight: 100;
    color: rgb(61, 61, 61);
}
.quality .quality-container{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 40px;
    padding: 50px;

}
.quality .quality-container .logo-text{
    width: 650px;
    text-align: start;
    padding-left: 50px;
    margin-top: 50px;

}
.quality .quality-container .logo-text .quality-logo{
    background-color: rgb(0, 102, 255);
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    font-weight:100;
    margin-bottom: 10px;
}

.quality .quality-container .logo-text .quality-text h2{
    padding: 20px 0;
    color: rgb(0, 102, 255);
    font-size: 30px;
    font-weight: 100;
}
.quality .quality-container .logo-text .quality-text p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 30px;
    font-size: 19px;
    color: rgb(125, 125, 125);
}
.quality .quality-container .quality-pic img{
    width: 450px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 5px;
    
}
.experts{
    width: 100%;
    background-color: rgba(32, 32, 30, 0.051);
    box-sizing: border-box;
    text-align: center;
    padding: 50px
}
.experts .expert-head{
    padding: 20px;
    padding-bottom: 50px;
    justify-content: start;
    text-align: start;
}
.experts .expert-head h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: 100;
    color: rgb(83, 82, 82);
}
.experts .ex-doctors{
    display: flex;
    text-align: center;
    background-color: rgb(236, 236, 236);
    width: 100%;
    padding: 30px;
    padding-bottom: 50px;
    justify-content: space-around;
}
.experts .ex-doctors .doctor{
    padding: 15px;
    padding-top: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: alias;
}
.experts .ex-doctors .doctor:hover{
    background-color: rgb(37, 163, 247);
}

.experts .ex-doctors .doctor img{
    width: 220px;
    padding-bottom: 8px;
    transition: transform 0.3s ease-out;
}
.experts .ex-doctors .doctor img:hover{
    transform: scale(1.1);
}
.experts .ex-doctors .doctor h3{
    color: rgba(5, 5, 5, 0.732);
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.experts .ex-doctors .doctor p{
    color: rgb(128, 129, 130);
    letter-spacing: .5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dubble-part {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 50px;
}

.dubble-part .part1,
.dubble-part .part2 {

    position: relative;
    width: 50%; /* দুই অংশের জন্য ব্যালেন্সড ওয়াইডথ */
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; /* টেক্সট কালার */
    font-weight: bold;
    overflow: hidden; /* ইমেজের বাইরে কিছু থাকলে হাইড করার জন্য */
    
}

.dubble-part .part1 {
    background: linear-gradient(rgba(5, 117, 245, 0.629), rgba(6, 89, 233, 0.545)), url(xemergency-2.png.pagespeed.ic.Db7myp6yIE.webp);
    background-size: cover;
    background-position: center;
    
}

.dubble-part .part2 {
    background: linear-gradient(rgba(0, 68, 255, 0.54), rgba(2, 79, 247, 0.626)), url(xemergency-1.png.pagespeed.ic.dzkR_tLkpJ.webp);
    background-size: cover;
    background-position: center right;
}
.dubble-part h2{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-weight: 100;
    text-align: start;
    padding-right: 5px;

}
.dubble-part p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(201, 201, 201);
}
.dubble-part h3{
    font-size: 17px;
    margin: 15px;
    margin-top: 10px;
    border: 1px solid;
    padding: 8px;
    border-radius: 50px;
    cursor: alias;
}
.dubble-part h3:hover{
    background-color: rgb(0, 94, 255);
    box-shadow: 1px 1px 2px black;
}
footer{
    width: 100%;
    background-color: rgb(40, 40, 40);
    padding: 100px;
}
footer .footr{
    display: flex;
    gap: 60px;
    background-color: rgba(101, 101, 100, 0.089);
    padding: 20px;
    width: 100%;
}
footer .footr .fs-st-ftr .fs-st-ftr-logo img{
    padding-bottom: 60px;
        color: white;
        width: 200px;
}
footer .footr .fs-st-ftr .fs-st-ftr-text{
    font-size: 18px;
    color: rgb(236, 235, 235);
    padding-bottom: 25px;
}
footer .footr .fs-st-ftr .fs-st-ftr-icon{
    font-size: 20px;
    margin-top: 40px;
}
footer .footr .fs-st-ftr .fs-st-ftr-icon i{
    background-color: rgb(110, 109, 109);
    color: rgb(168, 166, 166);
    padding: 18px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 0;
}
footer .footr .fs-st-ftr .fs-st-ftr-icon i:hover{
    color: white;
    background-color: rgb(80, 79, 79);
}
footer .footr .ftr{
    margin-left: 50px;
    margin-top: 20px;
    height: 100%;

}
footer .footr .ftr  ul{
    list-style: none;
    color: white;
}
footer .footr .ftr h2 {
    padding-bottom: 50px;
    color: white;
    font-size: 20px;
}
footer .footr .ftr ul li{
    padding-bottom: 10px;
    color: rgb(101, 100, 100);
    padding-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    font-size:16px;
}
footer .footr .ftr ul li:hover{
    color: white;
}
.top-footer{
    width: 100%;
    background-color: black;
    text-align: center;
}
.top-footer p{
    color: white;
    padding: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    letter-spacing: 2px;
    font-size: 18px;
    word-spacing: 4px;
    line-height: 10px;

}
.top-footer p a{
    text-decoration: none;
    color:yellow;
}
.top-footer p a:hover{
    color: blue;
}